doctype html
html
	include header.pug
	body
		.row.center
			.col-10
				h1 Welcome admin
				br
				h3 Add new agreement

				form(method="POST" action="/admin/dodajText")
					span Naslov: 
					input(type="text" name="naslov")
					textarea(name="vsebina" rows="4" cols="50")
					br
					input(type="submit" value="Submit")
				br

				h3 User table

				table.table-striped.table
					thead
						tr
							th User
							th Parent Conformation
					tbody
						each user in allUsers
							if (confs.find(x => x.user === user.email))
								tr
									td #{user.name} (#{user.email})
									td #{confs.find(x => x.user === user.email).parent}
							else
								tr
									td #{user.name} (#{user.email})
									td
